@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@media screen and (min-width: 601px) {
  .font-size {
    font-size: 45px;
  }
  .font-big {
      font-size: 60px;
  }
  .bold {
      font-size: 60px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .font-size {
    font-size: 20px;
  }
  .font-big {
      font-size: 30px;
  }
  .bold {
      font-size: 30px;
  }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'poppins',sans-serif;
}

section{
    min-height: 80vh;
    font-size: 21px;
    justify-content: center;
    align-items: center;
}
.bold{
    font-size: 60px;
    color: white;
}

/*--------------Navbar--------------*/

.logo {
    margin: 0;
    max-height: 60px;
}
.theme {
    background: #009ffb;
    padding: 12px 15px;
    font-size: 21px;
    color: #fff;
    line-height: 5;
    border-radius: 25px;
    text-decoration: none;
}

/*-------------home--------------*/

.btn-outline-primary {
    color: white !important;
    border-color: #009ffb !important;
}

/*--------------para---------------*/
h3{
    font-size: 45px;
}

.theme1 {
    background: #ffffff;
    padding: 12px 15px;
    font-size: 21px;
    color: #009ffb;
    line-height: 5;
    border-radius: 25px;
    text-decoration: none;
}
.footer-img{
    margin: 0;
    max-height: 50px;
}